<h1>Welcome :)!!!</h1>

<%= link_to "My Form :)", form_path(@form) %>
</br></br>
<%= link_to "My Other Form :L", veg_path(@menu) %>
</br></br>
<%= link_to "Hello!!", hello_path(@hi) %>

<p>Find me in app/views/welcome/index.html.erb</p>
